<div ng-include="'views/templates/nav.html'"></div>
<div class="row">
   <div ng-include="'views/templates/sidenav.html'"></div>
</div>
    <div class="container-fluid">
        <div class="side-body">
           <h2>Message History</h1>
            <div ng-include="'views/templates/service.html'"></div>
            <div ng-include="'views/templates/contact.html'"></div>
            <div ng-include="'views/templates/xmpp.html'"></div>
            <div ng-include="'views/templates/xmppcontact.html'"></div>
            <div class="message" ng-repeat="message in messages">
              <p class="messageText"> {{message}} </p>
            </div>
        </div>
    </div>
</div>
