<div ng-controller="LoginController" layout="column" ng-cloak class="md-inline-form">
  <md-content layout-padding>
    <div>
      <form name="userForm">
        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Username</label>
            <input ng-model="user.username">
          </md-input-container>

          <md-input-container class="md-block">
            <label>Password</label>
            <input type="password" ng-model="user.password">
          </md-input-container>

          <md-input-container class="md-block">
            <label>Confirm Password</label>
            <input type="password" ng-model="user.confirmPassword">
          </md-input-container>
          <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <div layout="row" layout-align="center center" flex>
                <md-button class="md-primary" ng-click="submitRegistration()">Submit</md-button>
            </div>
          </section>
        </div>
      </form>
    </div>
  </md-content>
</div>
