
<form ng-controller="LoginController">
  <div class="form-group">
    <label for="username">Username</label>
    <input ng-model="user.username" type="text" class="form-control" id="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="Password">Password</label>
    <input ng-model="user.password" type="password" class="form-control" id="Password" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="confirmPassword">Confirm password</label>
    <input ng-model="user.confirmPassword" type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
  </div>
  <button ng-click="submitRegistration()">Submit</button>
</form>
