
<!-- Modal -->
<div id="serviceModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Chat Service</h4>
      </div>
      <div class="modal-body">
        <label for="#serviceDropdown">Pick a chat service to add</label>
        <select ng-model="addService" ng-options="item for item in services">Pick Service</select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button ng-click="saveService(addService)" type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#addXMPPModal">Add</button>
      </div>
    </div>
  </div>
</div>
