<!-- Modal -->
<div id="XMPPContactModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Xmpp</h4>
      </div>
      <div class="modal-body">
        <label for="#name">Your friends Name</label>
        <input id="name" type="text" ng-model="contact.name">

        <label for="#jid">Your friends JID</label>
        <input id="jid" type="text" ng-model="contact.jid">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button ng-click="handleAddContact(contact)" type="button" class="btn btn-default" data-dismiss="modal">Add</button>
      </div>
    </div>
  </div>
</div>
